// Home page

#site-wrapper
{
	background-image: url('../images/bg.jpg');
	background-repeat: repeat-x;
}

footer
{
	background-color:$pink;
	height:225px;
	width:100%;
	position:absolute;
	top:670px;
	left:0;
	color:#888;
	font-size:11px;
	z-index:10;
	text-align:center;
	padding-top:70px;
	color:$white;
	font-family: $pbs_subhead_reg;
	min-width:1024px;
}

